@use "vendor/frameworks" as *;

.top {
  // margin-top: 10rem;
  // align-items: center;
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  &__title {
    @include text(8rem, 9rem, 700) {
      color: $description-color;
      letter-spacing: -0.2rem;
      margin-bottom: 0.5rem;
    }
  }

  &__text {
    margin-bottom: 3.6rem;
    @include text(2.2rem, 3.6rem, 500) {
      color: $text-color;
    }
  }
  &__inner {
    max-width: 60rem;
    display: block;
  }
  &__btn {
    padding: 1.3rem 4rem;
    border-radius: 3rem;
    @include text(2rem, auto, 700) {
    }
  }
}
/* form */
.form {
  width: 100%;
  padding: 5.2rem 6.4rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  background-image: url(/images/form-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.form-text {
  flex: 1 1 auto;
}
input {
  outline: none;
  @include text(2rem, 3.6rem, 500) {
    border-radius: 1rem;
    border: none;
    padding: 1.3rem 3.7rem;
    color: $text-color;
  }

  &:not(:last-child) {
    margin-right: 2.4rem;
  }
}
input[type="submit"] {
  display: block;

  @include text(2rem, auto, 700) {
    border-radius: 1rem;
    padding: 1.7rem 4rem;
  }
}

/* STATICS */
.main__statistics {
  position: relative;
  margin-top: -10rem;
  padding-top: 20rem;
  background-color: $bg-full-page;
  min-height: 100rem;
  z-index: -1;
}

.statistics {
  &__title {
    text-align: center;
    @include text(4rem, 4.8rem, 700) {
      color: $description-color;
      margin: 12rem 0 1.2rem;
    }
  }

  &__text {
    text-align: center;
    @include text(1.8rem, 3.2rem, 500) {
      color: $text-color;
      margin: 0 auto;
      max-width: 54rem;
    }
  }
}
.card {
  display: flex;
  justify-content: space-between;

  margin: 10rem auto 12rem;

  & :nth-of-type(2) {
    position: relative;
    top: 4rem;
    left: 0;
  }

  & :nth-of-type(3) {
    position: relative;
    top: 8rem;
    left: 0;
  }

  &__item {
    position: relative;
    background-color: #fff;
    width: 35rem;
    min-height: 26.7rem;
    border-radius: 0.5rem;
    padding: 7.7rem 3.2rem 1.4rem;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
  &__icon {
    position: absolute;
    top: -4rem;
    left: 3.2rem;
    width: 8.8rem;
    height: 8.8rem;
  }
  &__title {
    @include text(2.2rem, auto, 700);
    color: $description-color;
    margin-bottom: 1.2rem;
  }
  &__text {
    @include text(1.5rem, 2.6rem, 400);
    color: $text-color;
  }
}

/* Banner */
