@use "vendor/frameworks" as *;

.logo {
  width: 12rem;
  height: 3.3rem;
}
.top {
  // margin-top: 10rem;
  // align-items: center;
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  &__title {
    @include text(8rem, 9rem, 700) {
      color: $description-color;
      letter-spacing: -0.2rem;
      margin-bottom: 0.5rem;
    }
  }

  &__text {
    margin-bottom: 3.6rem;
    @include text(2.2rem, 3.6rem, 500) {
      color: $text-color;
    }
  }
  &__inner {
    max-width: 60rem;
    display: block;
  }
}
/* form */
.form {
  width: 100%;
  padding: 5.2rem 6.4rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  background-image: url(/images/form-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.form-text {
  flex: 1 1 auto;
}
input {
  outline: none;
  @include text(2rem, 3.6rem, 500) {
    border-radius: 1rem;
    border: none;
    padding: 1.3rem 3.7rem;
    color: $text-color;
  }

  &:not(:last-child) {
    margin-right: 2.4rem;
  }
}
input[type="submit"] {
  display: block;

  @include text(2rem, auto, 700) {
    border-radius: 1rem;
    padding: 1.7rem 4rem;
  }
}

/* STATICS */
.main__statistics {
  position: relative;
  margin-top: -10rem;
  padding-top: 20rem;
  background-color: $bg-full-page;
  min-height: 100rem;
  z-index: -1;
}

.statistics {
  &__title {
    text-align: center;
    @include text(4rem, 4.8rem, 700) {
      color: $description-color;
      margin: 12rem 0 1.2rem;
    }
  }

  &__text {
    text-align: center;
    @include text(1.8rem, 3.2rem, 500) {
      color: $text-color;
      margin: 0 auto;
      max-width: 54rem;
    }
  }
}
.card {
  position: relative;
  display: flex;
  justify-content: space-between;

  margin: 10rem auto 12rem;

  outline: 1px solid blue;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50rem;
    height: 0.5rem;
    background-color: green;
  }

  & :nth-of-type(2) {
    position: relative;
    top: 4rem;
    left: 0;
  }

  & :nth-of-type(3) {
    position: relative;
    top: 8rem;
    left: 0;
  }

  &__item {
    position: relative;
    background-color: #fff;
    width: 35rem;
    min-height: 26.7rem;
    border-radius: 0.5rem;
    padding: 7.7rem 3.2rem 1.4rem;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
  &__icon {
    position: absolute;
    top: -4rem;
    left: 3.2rem;
    width: 8.8rem;
    height: 8.8rem;
  }
  &__title {
    @include text(2.2rem, auto, 700);
    color: $description-color;
    margin-bottom: 1.2rem;
  }
  &__text {
    @include text(1.5rem, 2.6rem, 400);
    color: $text-color;
  }
}

/* Banner */
.banner {
  background-image: url(/images/banner-bg.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 25rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  &__title {
    @include text(4rem, 4.8rem, 700);
    color: #fff;
    margin-bottom: 3.2rem;
  }
}

.footer {
  background-color: $bg-footer;
  &__columns {
    display: flex;
    justify-content: space-between;
    padding: 7.2rem 0;
  }
  &__column {
    &:not(:last-child) {
      margin-right: 10rem;
    }
  }

  &__column-heading {
    margin-bottom: 2.2rem;
    @include text(1.6rem, auto, 700) {
      color: #fff;
    }
  }

  &__column-links {
  }
  &__column-list {
    list-style: none;
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__column-link {
    text-decoration: none;
    transition: all 0.5s linear;
    @include text(1.5rem, auto, 400) {
      color: $text-color;
      letter-spacing: -0.2.3rem;
    }

    &:hover {
      color: $color-buttons;
      opacity: 1;
    }
  }

  &__social-icon {
    &.path {
      fill-opacity: 0;
    }
    &:hover path {
      transition: all 0.5s linear;
      fill: $color-buttons;
      fill-opacity: 1;
      cursor: pointer;
    }

    margin-right: 1rem;
  }
}

.footer-logo {
  flex: 1 1 auto;
}
