@use '../vendor/mixins' as *;
@use '../vendor/color' as *;

.header {
  // position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: flex-start;
  outline: 1px solid red;
  min-height: 80rem;
  position: relative;
  max-width: 1600px;
  &__nav {
    width: 100%;
    margin-top: 4.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: 1px solid green;
    flex: 0 1 auto;
    // width: 100%;
  }
  &-logo {
    margin-right: 4.5rem;
  }
}

.menu {
  flex: 1 1 auto;

  &__list {
    &-item {
      list-style: none;
    }
    &-link {
      @include text(1.5rem, 1.5, 500) {
        color: $text-color;
        text-decoration: none;
      }
      &:not(:last-child) {
        margin-right: 3rem;
      }
    }
  }
}

.user-nav {
  &__link {
    @include text(1.5rem, 1.5, 500) {
      color: $text-color;
      text-decoration: none;
      &:not(:last-child) {
        margin-right: 3rem;
      }
    }
    &_button {
      outline: 1px solid blue;
      padding: 0.9rem 2.4rem;
      border-radius: 3rem;
    }
  }
}
