@use '../../mixins/mixins' as *;
@use '../../vendor/color' as *;

.main {
  &__statistics {
    position: relative;
    margin-top: -10rem;
    padding: 20rem 0;
    background-color: $bg-full-page;
    height: 100%;
    z-index: -1;
    @media (max-width: 375px) {
      padding: 8rem 0 18rem;
    }
  }
}
