/* Error: Can't find stylesheet to import.
 *   ,
 * 1 | @forward 'vendor/normalize';
 *   | ^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   /Volumes/Boss/Users/sr/01-library/WORK/CODE/YP/extra-tasks/shortly/shortly/src/blocks/_frameworks.scss 1:1  @use
 *   /Volumes/Boss/Users/sr/01-library/WORK/CODE/YP/extra-tasks/shortly/shortly/src/index.scss 1:1               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a   \2577 \a 1 \2502  @forward 'vendor/normalize';\a   \2502  ^^^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   /Volumes/Boss/Users/sr/01-library/WORK/CODE/YP/extra-tasks/shortly/shortly/src/blocks/_frameworks.scss 1:1  @use\a   /Volumes/Boss/Users/sr/01-library/WORK/CODE/YP/extra-tasks/shortly/shortly/src/index.scss 1:1               root stylesheet";
}
